[Unit]
Description=Sand Table service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/home/pi/sand_table
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=Multi-user.target
